<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068263221493-i9nqjfjackbns4deiclh7bmeopglsk8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068263221493-i9nqjfjackbns4deiclh7bmeopglsk8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDj7oaSwCgL8wsnscaWs2tRVBNBPUxhPc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1068263221493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vgmartapp.vgmart</string>
	<key>PROJECT_ID</key>
	<string>vg-mart</string>
	<key>STORAGE_BUCKET</key>
	<string>vg-mart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068263221493:ios:d6dcb58bdc1718198c7dbc</string>
</dict>
</plist>